*{
    margin: 0;
    padding: 0;
    font: 1em arial;
}
.banner{
    background-color: teal;
    color: white;
    width: 100%;
    margin: 0%;
}
.banner-texto{
    text-align: center;
    width: 100%;
}
.primera-seccion {
float: left;
    margin: 0px;
    padding: 0px;
    background-color: aquamarine;
    color: white;
}
.centrado-imagen{
    
    background-color: aquamarine;
    padding: 0px;
    margin: 0px;
    width: 100%;
    text-align:center;
}.sub-portada{
    background-color: aquamarine;
    height: 55px;
    width: 100%;
}

.sub-portada div{
    float: left;
    margin: 0px;
    padding: 0px;
}

.sub-portada .fono{
    color: white;
    margin: 0px;
    width: 30%;
    font-size: 90%;
}

.sub-portada .fono h2{
    padding: 10px;
    position: relative;
    left:10%;
}

.sub-portada .texto-rescate{
    color: white;
    padding: 0px;
    margin: 0px;
    width: 40%;
    text-align:center;
}

.sub-portada .texto-rescate h3{
    padding: 10px;
    margin: 0px;
}

.sub-portada .social-media{
    text-align: right;
    margin: 0px;
    width: 30%;
    text-align: center;
}

.sub-portada .social-media a img{
    width: 40px;
    padding: 0px;
    margin:0px
}
.centrado-texto{
    color: white;
    padding: 0px;
    margin: 0px;
    width: 40%;
    text-align:center;
    padding: 10px;
    margin: 0px;
}

ul li {
    display: inline;
    margin-right: 10px ;
}
ul {
    
    list-style: none;   
}

.mi-clase {
    color:aquamarine;
    font-size: 3px;
    border: 10px solid white ;
    border-radius: 20px 20px;
}
#a{
    float: right;
}
.parte-2 div{
    float: left;
}

.contenido-1{
    margin-right: 2%;
    background: white;
    width: 48%;
    height: max-content;
    text-align: right;
    padding-top: 20px;
}

.contenido-1 h3{
    position: relative;
    font-size: 4vw;
}

.contenido-1 .subtitulo{
    position: relative;
    font-size: 2vw;
}

.contenido-1 img{
    position: relative;
    right: 2%;
    width:60%;
    margin: 2%;
}

.contenido-1 .separador{
    border-color: black;
    width: 10%;
    height: 5%;
    position:relative;
    right:-90%;
}

.contenido-1 p{
    padding:1%;
    color: rgb(71, 71, 71);
}

.contenido-2 .parrafo{
    float: right;
}

.contenido-2{
    margin: 0px;
    background:white;
    width: 48%;
    height: max-content;
    text-align: left;
    padding-top: 20px;
}


.contenido-2 img{
    position: relative;
    left: 2%;
    width:60%;
    margin: 2%;
}

.contenido-2 h3{
    position: relative;
    font-size: 3vw;
    margin: 0px;
    padding: 0px;
}

.contenido-2 .subtitulo{
    position: relative;
    font-size: 2vw;
}

.contenido-2 .separador{
    border-color: black;
    width: 10%;
    height: 1%;
    position:relative;
}

.contenido-2 p{
    padding:1%;
    color: rgb(71, 71, 71);
    text-align: left;
}

.contenido-2 .parrafo{
    float: left;
}

